

body {

  background-color: rgb(250, 248, 248);
  font-family: Arial,sans-serif;
  
  
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 3.75rem;
  /* color: white; */
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.75rem;
}

.search-input {
  width: 60%;
  max-width: 25rem;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
  color: #333;
  border: 1px solid rgb(212, 212, 212);
}

.search-button {
  padding: 0.625rem 1.25rem;
  background-color: #4ca;
  border: 1px solid #4ca;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #02b386;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.search-result {
  margin-bottom: 3.75rem;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.search-result img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.search-result:hover img {
  transform: scale(1.04);
}

.search-result a {
  padding: 0.625rem;
  display: block;
  text-align: center;
  font-weight: 600;
  color: #333;
  transition: background-color 0.3s ease-in-out;
}

.search-result:hover a {
  background-color: rgba(0, 0, 0, 0.1);
}

.show-more-button {
  display: block;
  margin-inline: auto;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
  display: none;
  margin-bottom: 3rem;
  background-color: #02b386;
  border: 1px solid #02b386;
  height: 60px;
  width: 100px;
  text-align: center;
}

.show-more-button:hover {
  color: #111;
  transform: scale(1.02);
}

@media (max-width: 50em) {
  .search-result {
    width: 45%;
  }
}

@media (max-width: 30rem) {
  .search-result {
    width: 100%;
  }
}